@font-face {
	font-family: "MuseoSansCyrl";
	src: url("../fonts/MuseoSansCyrl.otf") format("truetype"); 
	font-style: normal; 
	font-weight: 100;
}
@font-face {
	font-family: "MuseoSansCyrl";
	src: url("../fonts/MuseoSansCyrl_0.otf") format("truetype"); 
	font-style: normal; 
	font-weight: 300; 
}
@font-face {
	font-family: "MuseoSansCyrl";
	src: url("../fonts/MuseoSansCyrl_1.otf") format("truetype"); 
	font-style: medium; 
	font-weight: 500; 
}
@font-face {
	font-family: "MuseoSansCyrl";
	src: url("../fonts/MuseoSansCyrl_2.otf") format("truetype"); 
	font-style: bold; 
	font-weight: bold; 
}